*{
    @apply lg:text-base text-sm m-0 p-0 box-border
}
.container {
    padding: 1rem 0rem 1rem 0rem;
} 

.card {
    border-bottom: 0.2em #2C2C2C solid;
    @apply flex pb-[1rem] lg:w-[37.5rem] w-full lg:gap-8 gap-2
}

.card--img {
    max-width: 100%;
    width: 22%;
    
    
} 
.card--img img{
    @apply h-full w-[22%] 
}
.col {
    width: 100%;
}

.card--body {
    /* width: 72%; */
    /* max-width: 100%; */
    @apply flex flex-wrap gap-2

}

.card--list-one li {
    display: inline-block;
    padding-right: 0.5em;
}

.card--list-two {
    @apply flex align-baseline justify-between text-white flex-wrap 

}

.card--list-two li {
    @apply lg:text-base text-[10px] lg:pr-[.3rem]  pr-0
}

.icon {
    max-width: 100%;
    width: auto;
}

.card--title-head {
    color: #fff;
    @apply lg:text-[larger] text-sm 
}

.card--final-text {
    @apply text-[#A5A5A5] lg:text-base text-[10px] lg:leading-normal leading-tight
}

.card--num {
    font-size: 12px;
    color: #fff;
}

ul span {
   color: black;
    border-radius: 50%;
       font-weight: bolder;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply lg:h-[1.2rem] lg:w-[1.2rem] w-[1rem] h-[1rem]
}
ul .watch{
    @apply flex gap-2 justify-center items-baseline
}